body {
    background-image: url('Img1.png');
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-image: Img1.png;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding-bottom: 70px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
}

h3 {
   font-size: 120%; 
   text-align: center;
   border-style: double; border-radius: 5px; 
   margin-top: 10px;
   margin-right: 70px;
   margin-left: 70px; 
   padding : 5px; 
}

#typeSelect {
  display: block;
  margin-right: 120px;
  margin-left: 125px; 
  width: 70%;
  margin: 10px auto 20px auto;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
}

#numSelect {
  width: 25%;
  margin: 0; 
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px; margin-bottom: 20px;
}

.input-group {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

.hidden-input {
    display: none;
}

.flex-container {
  margin-left: 10px;
  gap: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

.flex-container span { 
  font-size: 20px;
  font-weight: bold;
  margin: 0 0px;
  vertical-align: middle;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield;
    flex-shrink: 0;
    font-size: 12px;
    margin-top: 5px;
}

#action-group {
    display: flex;                 
    justify-content: center;   
    align-items: center;       
    margin: 10px auto 10px auto; 
    margin-top: 10px; margin-bottom: 0px;
    width: 100%;
    max-width: 500px;
}

button {
    width: 40%;
    margin: 10px; 
    padding: 10px; margin-top: 20px; margin-bottom: 20px;
    margin-left : 10px; margin-right : 10px;
    background-color: #36CCFF; color: white;
    border: none; border-radius: 4px;
    font-size: 15px; font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2CB1DE;
}

#result-area {
    margin-top: 2px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

#result-area h2 {
    text-align: left;
    color: #212121;
}

#solution-display {
    margin-left : 30px;
    white-space: pre-wrap; 
    font-weight: bold;
    color: #333;
    font-size : 18px;
}
#other-display {
    margin-left : 30px;
    white-space: pre-wrap; 
    font-weight: bold;
    color: #333;
    font-size : 18px;
}


